*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(11, 10, 10, 0.75), rgba(0, 0, 0, 0.75)),url(bank.jpg);
  background-size: cover;
  background-position: center;
}

.logo{
  width:200px;
  /* cursor:pointer; */
  align-items: center;
  display: flex;
  margin: 0px auto;
  padding-top: 230px;
  
}


.content{
  width:100%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 70px;
  margin-top: 80px;
}
.content h3{
  margin: 20px auto;
  line-height: 25px;
}

button{
  width:200px;
  padding:15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border:3px solid #006eb2;
  background: transparent;
  color:#fff;
  cursor:pointer;
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: 900;
}

 span{
  background: #006eb2;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition:0.5s;
}

button:hover span{
  width:100%;
}
button:hover{
  border: none;
}

.carousel-item {
    height: 950px;
  }

  .btn-success{
    padding: 7px 30px;
    margin-right: 10px;
  }
  .btn-info{
    padding: 25px 40px;
    margin-left: 30px;
    
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}